* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: url("../../public/windownbg.jpg") no-repeat;
  background-size: cover;
}
.wapper {
  max-width: 1920px;
  padding: 0px 20px;
}
.mt-1 {
  margin-top: 16px;
}
